  .detail {
    position: relative; 
    .detailToggle {
        position: absolute;
        inset: 0; // la checkbox invisible recouvre tout le parent
        opacity: 0;
        z-index: 2; // Pour capter le clic
    }
    .detailArrow img {
        transition: transform 0.3s ease;
    }
    .detailArrow img.rotated {
        transform: rotate(180deg);
    }
    .detailContentWrapper {
        max-height: 0;
        overflow: hidden;
        transition:  max-height 0.3s ease;
    }
    .detailContentWrapper.translated {
        max-height: 100vh;
    }
    .detailContentWrapper div{
        transform: translateY(-100%);
        overflow: hidden;
        position: relative; z-index: -1;
        transition:  transform 0.3s ease;
    }
    .detailContentWrapper div.translated {
        transform: translateY(0);
    }
  }

:root {
  color:black;
  background-color: white;
  --color-red : #FF6060;
}
body, * {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
/***** Home *****/
.kasaWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding-top: 45px;
    padding-right: 100px; padding-left: 100px;
    gap: 50px;
    box-sizing: border-box;
}
.footerWrapper {
  margin-top: auto;
  margin-bottom: 0;
  margin-left: -100px;
  margin-right: -100px;
  width: calc(100% + 200px);
  display: block;
  box-sizing: border-box;
}
.footerWrapper img {
  display: block;
  width: 100%;
}
body .kasaBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
}
/* image of Home */
.imgWrapper {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgOverlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 25px;
}
.bgopacity60pct {
    background-color: rgba(0, 0, 0, 0.6);
}
.bgopacity30pct {
    background-color: rgba(0, 0, 0, 0.3);
}
.homeImg {
    display: block;
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.homeTitle { 
    position: absolute;
    color: white;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    left:20px; right:20px;
    box-sizing: border-box;
}
/* gallery */
.galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box; /* inclut padding et bordure dans la largeur */
    background-color: #F6F6F6;
    width: 100%; height: 100%;
    padding: 4.4%;
    column-gap: 4.4%; /* gap: 4.4%; fails vertically */
    border-radius: 25px;
}
.imgGallery {
    width: calc((100% - 4.4%*2)/3);
    aspect-ratio: 1 / 1; /*height = width*/
    position: relative;
    margin-bottom: 4.4%;
}
.imgGallery img {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.imgGalleryOverlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.41), transparent);
    border-radius: 10px;
}
.imgGalleryTitle { 
    position: absolute;
    bottom: 20px;      
    left: 20px; right: 20px; max-width: calc(100% - 40px);      
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    z-index: 1;
}

/***** Header *****/
.headerWrapper {
    display: flex;
    justify-content: space-between;
}
.linksWrapper {
    display: flex; 
    align-items:center;
    font-size: 24px;
    gap: 57px;
}

/***** Logement *****/
/* carousel */
.carousel {
    position: relative;
    width: 100%;
}
.carouselImg {
    width: 100%;
    border-radius: 25px; 
    height: 415px;
    object-fit: cover;
}
.carouselBtn {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    user-select: none;
    z-index: 1;
}
.carouselLabel {
    position: absolute;
    left:50%;
    color: white;
    bottom: 10%;
    z-index:1;
}
.carouselBtn img {
    width: 96px;
    height: 119px;
}
.btnPrev {
    left: 10px;
}
.btnNext {
    right: 10px;
}
/* logement description */
.logementTitle {
    color : var(--color-red);
    font-size: 36px;
}
.hostImg {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.hostTitle {
    color : var(--color-red);
}
.logementBloc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logementBloc2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.logementBloc3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logementBloc4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.hostRating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tag {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    border-radius: 10px;
    white-space: nowrap;
    background-color : var(--color-red);
}
.ratingstar {
    width: 36px;
    height: 36px;
}
.details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    gap:76px;
}
.detail {
    flex:1;
    display: flex;
    flex-direction: column;
}
.detailTitle {
    border-radius: 5px;
    height: 52px;
    font-size: 24px;
    background-color : var(--color-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.detailTitle p {
    font-weight: bold;
}
.detailArrow {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 13px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.detailContent {
    background-color : #F6F6F673;
    padding: 24px;
    color: black;
    border-radius: 5px;
    text-align: left;
}
.detailList {
    list-style-type: none;
}

/***** Error *****/
.errorWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    flex: 1;
}
.errorWrapper h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 288px;
    font-weight: 700;
    color: var(--color-red);
}
.errorWrapper h2 {
    font-size: 36px;
    color: var(--color-red);
}
.errorWrapper Link {
    color: black;
}
/***** A propos *****/
.aproposWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}
.apropos {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    color: white;
    gap:25px;
    padding-left: 108px;
    padding-right: 108px;
}

/***** media queries *****/
@media (max-width: 768px) {
    .kasaWrapper {
        padding-top: 20px;
        padding-right: 20px; padding-left: 20px;
        gap: 27px;
    }
    .footerWrapper {
        margin-left: -20px; margin-right: -20px;
        width: calc(100% + 40px);
    }
    body .kasaBody {
        gap: 20px;
    }
    /* image of Home */
    .imgWrapper {
        height: 111px;
    }
    .imgOverlay {
        border-radius: 10px;
    }
    .homeImg {
        border-radius: 10px;
    }
    .homeTitle { 
        font-size: 24px;
    }
    /* gallery */
    .galleryWrapper {
        display: flex;
        flex-direction: column;
        background-color:white;
        padding: 0px;
        gap: 20px;
    }
    .imgGallery {
        width: 100%;
        aspect-ratio: 1 / 0.76; 
        margin-bottom: 0px;
    }
    .linksWrapper {
        font-size: 12px;
        gap: 30px;
    }
    /* carousel */
    .carouselImg {
        height: 255px;
    }
    .carouselBtn img {
        width: 24px;
        height: 24px;
    }
    /* logement description */
    .logementTitle {
        font-size: 18px;
    }
    .logementBloc1 {
        flex-direction: column;
    }
    .logementBloc2 p {
        font-size: 14px;
    }
    .logementBloc3 {
        gap: 3px;
    }
    .tag {
        height: 18px;
        font-size: 10px;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hostTitle {
        font-size: 12px;
    }
    .hostImg {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
    .hostRating {
        margin-top: 15px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }   
    .ratingstar {
        width: 18px;
        height: 18px;
    }
    .details {
        flex-direction: column;
        margin-top: 15px;
        gap:20px;
    }
    .detailTitle {
        height: 30px;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .detailArrow {
        width: 16px;
        height: 9px;
    }
    .detailContent, .detailContent li {
        font-size: 12px;
    }
    /***** Error *****/
    .errorWrapper {
        padding-top: 75px;
        gap: 100px;
    }
    .errorWrapper h1 {
        font-size: 96px;
    }
    .errorWrapper h2 {
        font-size: 18px;
    }
    .errorWrapper Link {
        font-size: 14px;
    }

    /***** A propos *****/
    .apropos {
        padding-left: 0px;
        padding-right: 0px;
    }
}


